@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

html,
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  &__layout {
    background-color: rgb(213, 219, 255);
  }
  &__inputStyling {
    display: flex;
    justify-content: center;
    flex-direction: column;
    //margin: 20px;
    #todoInput {
      margin-right: 10px;
      padding: 5px;
      width: 60vw;
    }
    #categoryInput {
      margin-right: 10px;
      padding: 5px;
      width: 60vw;
    }
  }
  &__taskStyling {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    width: 90%;
    height: 50%;
    margin: 20px 0 0 0;
    border: 1px solid rgb(146, 160, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
  }
  &__newTodoStyling {
    display: flex;
    align-items: end;
    padding: 2vh;
    width: 90%;
    border: 1px solid rgb(146, 160, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    #categoryLabel {
      margin-top: 5px;
    }
    #todoInput {
      margin-top: 5px;
    }
    #categoryInput {
      margin-top: 5px;
    }
    #saveValueBtn {
      margin-left: 5px;
      padding: 5px;
      height: 30%;
    }
  }
  // &__saveSortStyling {
  // }
  &__sortStyling {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    // .sortNameIcon {
    //   padding: 10px;
    // margin-top: 10px;
    // }
    // .sortCatIcon {
    //   padding: 10px;
    // margin-top: 10px;
    // }
  }
}

// sätt in dessa bra

.taskStatusTodo {
  // list-style-type: "\1F449";
  background-color: rgb(184, 194, 255);
  border: 1px solid rgb(146, 160, 255);
}
.taskStatusDone {
  // list-style-type: "\1F44D";
  color: rgb(170, 170, 170);
  //border: 1px solid rgb(156, 156, 156);
}
.taskSpace {
  cursor: pointer;
  width: 90%;
  padding-left: 10px;
}
.categorySpace {
  width: 90%;
  padding-right: 10px;
  text-align: right;
}
.trashIcon {
  display: flex;
  align-self: center;
  cursor: pointer;
  padding-top: 1.2px;
}
.todoSquareIcon {
  display: flex;
  align-self: center;
  padding-top: 1.2px;
  cursor: pointer;
}
.doneSquareIcon {
  display: flex;
  align-self: center;
  cursor: pointer;
  padding-top: 1.2px;
}
.listItem {
  list-style-type: none;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px 3px 5px;
  margin: 2px;
  border-radius: 5px;
  // margin: 5px;
}
.listLayout {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.headingH3 {
  margin: 0px 0 10px 20px;
}
.headingH5 {
  margin: 10px 0 5px 20px;
}
.footerLayout {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  font-size: 8pt;
}
